apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-config
data:
  nginx.conf: |
    events {}
    http {
        server {
            listen {{ .Values.service.port }};
            location / {
                auth_basic "Secuirty";
                auth_basic_user_file /etc/nginx/auth/.htpasswd;
                root /usr/share/nginx/html;
                index index.html;
            }
            location /health {
                return 200 'OK';
                add_header Content-Type text/plain;
            }
        }
    }